.header {
  width: 100%;
  position: fixed;
  background-color: $white;
  top: 0;
  z-index: 100;
  .overlay {
    position: fixed;
    content: "";
    left: 0;
    top: 80px;
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, $darkBlue, $whiteNoOpacity);
    transition: opacity 400ms ease-in-out;
    opacity: 0;
    z-index: -1;

  }
  .visible{
    opacity: 1;
  }
  .invisible{
    opacity: 0;
  }
  nav {
    padding:  0 1.5rem; //1.0625rem
   // border: 1px solid red;
  }

  &__logo {
    margin-top: 1.8125rem;
    margin-bottom: 1.8125rem;
    height: 22px;
   // border: 1px solid red;
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__menu {
      &:hover{
        cursor: pointer;
      }
    > span { // > - direct child selector
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      &:not(:last-child){
        margin-bottom: 5px;
      }
    }
    &.open {
      > span:first-child{
        transform:translateY(7px) rotateZ(45deg);
      }
      > span:nth-child(2){
        opacity: 0;
        transform-origin: center;
        transform: scale(0);
      }
      > span:last-child {
        transform:translateY(-7px) rotateZ(-45deg);
      }
    }
    &.closed {
      > span:first-child{
        transform:translateY(0) rotateZ(0);
      }
      > span:nth-child(2){
        opacity: 1;
      }
      > span:last-child {
        transform:translateY(0) rotateZ(0);
      }
    }
  }
    &__links {

      font-weight: 400;


      a {
        position: relative;
        font-size: $font-med;
        color: $grayishBlue;
        transition: color 300ms ease-in-out;
        //border: 1px solid red;
        height: 80px;
        padding-top: 31px;
        padding-bottom: 31px;
        &:not(:last-child) {
          margin-right: 32px;
        }
        &:hover {
          color: $darkBlue;
          &:before {
            transition: opacity 300ms ease-in-out;
            background: linear-gradient(to right, $lightGreen, $brightCyan);
            opacity: 1;
          }
        }
        &:before {
          content:"";
          position: absolute;
          display: block;
          width: 100%;
          height: 5px;
          bottom: -0rem;
          border-radius: 1px;
          right: 0;
          background: linear-gradient(to right, $lightGreen, $brightCyan);
          opacity: 0;
        }
      }
    }
    &__cta {
      opacity: 1;
      font-size: $font-med;
      &:hover{
        transition: opacity 300ms ease-in-out,color 300ms ease-in-out;
        color: $white;
        opacity: 0.75;
      }
    }

  .mobile__menu{
    transition: opacity 400ms ease-in-out;
    z-index: 1;
    width: 90%;
    background-color: $white;
    position: fixed;
    top: 7.25rem;
    left: 5%;
    border-radius: 5px;

    //padding 26px, длина 36px
    >a {
      color: $darkBlue;
      font-size: $font-med;
      font-weight: 400;
      width: 100%;
      text-align: center;
      display: block;
      //background-color: lime; //
      line-height: 3.375rem;  // помогло выровнять текст в ссылках
      //border: 1px solid red;
      height: 54px;
      &:hover {
        color: $grayishBlue;
      }
      &:first-child {
        margin-top: 26px;
      }
      &:last-child {

        margin-bottom: 26px;
      }
    }
  }

}

main{
  position: absolute;
  top: 5rem;
}

